<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">SimpleAuth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/tasks">Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/private">Private-Tasks</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <ng-container *ngIf="!authService.loggedIn(); else loggedIn">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signin">Sign-In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/signup">Sign-Up</a>
          </li>
        </ng-container>
        <ng-template #loggedIn>
          <li class="nav-item">
            <a  class="nav-link" style="cursor: pointer;" (click)="authService.logout()">Log out</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>

<div class="conatiner p-5">
  <router-outlet></router-outlet>
</div>

